@import 'tailwindcss';

@theme {
  --color-primary: #f9cd48;
  --color-dark-yellow: #c2991d;
  --color-purple: #9d7fad;
  --color-light-purple: #9d7fad33;
  --radius-c: 20px;
  --color-secondary: #fef5da;
  --color-purple-primary: #9d7fad;
  --color-purple-secondary: #ddd2e3;
  --color-dark-purple: #673881;
  --color-light-dark-purple: #67388133;
  --color-base: #f6f6f6;
  --color-base-gray: #afb1b6;
}

html,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

*:not(.modal-scrollbar) {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*:not(.modal-scrollbar)::-webkit-scrollbar {
  display: none;
}

input[type='search']::-webkit-search-cancel-button {
  display: none;
}

input:not([type='checkbox']):not([type='radio']),
select,
textarea {
  font-size: 1rem;
}

@font-face {
  font-family: 'Work Sans';
  src: url('assets/font/WorkSans-VariableFont_wght.ttf');
}

:root {
  font-family: 'Work Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #f9cd48;
  --color-secondary: #fef5da;
  --color-purple: #9d7fad;
  --color-light-purple: #9d7fad33;
  --color-success: #198754;
  --color-status-ok: #27a300;
  --color-status-warning: #e3e36a;
  --color-status-danger: #ba0c0c;
  --color-success-bg: #d1e7dd;
  --color-warning: #ff9500;
  --color-danger: #ff3333;
  --color-danger-bg: #ffd6d6;
  --color-grey-bg: #efeff0;
  --color-grey-border: #afb1b6;
  --color-grey-text: #61646b;
  --color-light-grey-text: #afb1b6;
  --color-primary-shadow: 2px 4px 4px #f9cd48;
  --color-light-purple-shadow: 2px 4px 4px #9d7fad;
  --color-purple-primary: #9d7fad;
  --color-purple-secondary: #ddd2e3;
  --color-dark-purple: #673881;
}

.color-primary-bg {
  background-color: var(--color-primary);
}

.color-secondary-bg {
  background-color: var(--color-secondary);
}

.color-purple-bg {
  background-color: var(--color-purple);
}

.color-light-purple-bg {
  background-color: var(--color-light-purple);
}

.color-success {
  color: var(--color-success);
}

.color-success-bg {
  background-color: var(--color-success-bg);
}

.color-danger {
  color: var(--color-danger);
}

.color-danger-bg {
  background-color: var(--color-danger-bg);
}

.color-warning-bg {
  background-color: var(--color-warning);
}

.color-grey-bg {
  background-color: var(--color-grey-bg);
}

.color-grey-border {
  border: 1px solid var(--color-grey-border);
}

.color-grey-border-top {
  border-top: 1px solid var(--color-grey-border);
}

.color-grey-border-bottom {
  border-bottom: 1px solid var(--color-grey-border);
}

.color-grey-text {
  color: var(--color-grey-text);
}

.color-light-grey-text {
  color: var(--color-light-grey-text);
}

.color-primary-shadow {
  box-shadow: var(--color-primary-shadow);
}

.color-light-purple-shadow {
  box-shadow: var(--color-light-purple-shadow);
}

.color-purple-primary-shadow {
  box-shadow: var(--color-dark-purple);
}

.leaflet-marker-icon.custom-pin-border {
  filter: drop-shadow(0 0 0 #000) drop-shadow(0 0 1px #000);
}

.recharts-wrapper:focus {
  outline: none;
}

.recharts-wrapper,
.recharts-surface {
  outline: none !important;
}

svg:focus,
svg *:focus {
  outline: none !important;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-in {
  animation: slide-in 0.3s ease-out forwards;
}

/* Modal scrollbar */
.modal-scrollbar {
  scrollbar-width: thin !important;
  scrollbar-color: #747372 #e5e7eb !important;
}

.modal-scrollbar::-webkit-scrollbar {
  display: block !important;
  width: 2px;
}

.modal-scrollbar::-webkit-scrollbar-track {
  background: transparent !important;
}

.modal-scrollbar::-webkit-scrollbar-thumb {
  background: #d1d5db !important;
  border-radius: 99px !important;
}

.modal-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #f59e0b !important;
}

.sidebar-scrollbar {
  scrollbar-width: thin !important;
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent !important;
}

.sidebar-scrollbar::-webkit-scrollbar {
  display: block !important;
  width: 4px;
}

.sidebar-scrollbar::-webkit-scrollbar-track {
  background: transparent !important;
}

.sidebar-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3) !important;
  border-radius: 99px !important;
}

.sidebar-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.6) !important;
}
