@import 'tailwindcss';

:root {
  --color-primary: #f9cd48;
  --color-secondary: #fef5da;
  --color-success: #198754;
  --color-success-bg: #d1e7dd;
  --color-warning: #ff9500;
  --color-danger: #ff3333;
  --color-danger-bg: #ffd6d6;
  --color-grey-bg: #efeff0;
  --color-grey-border: #afb1b6;
  --color-grey-text: #61646b;
  --color-light-grey-text: #afb1b6;
}

.color-primary-bg {
  background-color: var(--color-primary);
}

.color-secondary-bg {
  background-color: var(--color-secondary);
}

.color-success {
  color: var(--color-success);
}

.color-success-bg {
  background-color: var(--color-success-bg);
}

.color-danger {
  color: var(--color-danger);
}

.color-danger-bg {
  background-color: var(--color-danger-bg);
}

.color-grey-bg {
  background-color: var(--color-grey-bg);
}

.color-grey-border {
  border-color: var(--color-grey-border);
}

.color-grey-text {
  color: var(--color-grey-text);
}

.color-light-grey-text {
  color: var(--color-light-grey-text);
}
